.flex-vertical {
  display: flex;
  flex-direction: column;
}

.channels {
  width: 240px;
  background-color: grey;
}

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
