@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
.channels {
  width: 240px;
  background-color: #212121;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.42), 0 3px 6px rgba(0, 0, 0, 0.56); }

.channels-list-item.selected {
  background-color: #303030; }

form {
  margin: 0; }

.chat {
  background-color: #303030; }

.chat-mount {
  position: relative; }

.chat-container {
  background-color: #303030;
  position: absolute;
  overflow: hidden;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: left 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  .chat-container.hidden {
    left: -100%;
    z-index: 0;
    transition: left 0.5s ease-in-out; }

.chat-input {
  z-index: 10;
  padding: 10px; }
  .chat-input textarea {
    resize: none;
    outline: none;
    background: inherit;
    color: inherit;
    font: inherit;
    border: none;
    width: 100%; }

.chat-list-item {
  text-indent: -90px;
  padding-left: 90px;
  padding-bottom: 4px;
  line-height: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 10px 0 20px; }
  .chat-list-item .message-time {
    width: 50px;
    text-align: right;
    margin-right: 10px;
    display: inline-block; }
  .chat-list-item .message-sender {
    margin-right: 4px;
    font-size: 15px; }
  .chat-list-item .red-fore {
    color: rgba(244, 67, 54, 0.87); }
  .chat-list-item .pink-fore {
    color: rgba(233, 30, 99, 0.87); }
  .chat-list-item .purple-fore {
    color: rgba(156, 39, 176, 0.87); }
  .chat-list-item .blue-fore {
    color: rgba(33, 150, 243, 0.87); }
  .chat-list-item .light-blue-fore {
    color: rgba(3, 169, 244, 0.87); }
  .chat-list-item .cyan-fore {
    color: rgba(0, 188, 212, 0.87); }
  .chat-list-item .teal-fore {
    color: rgba(0, 150, 136, 0.87); }
  .chat-list-item .green-fore {
    color: rgba(76, 175, 80, 0.87); }
  .chat-list-item .light-green-fore {
    color: rgba(139, 195, 74, 0.87); }
  .chat-list-item .yellow-fore {
    color: rgba(255, 235, 59, 0.87); }
  .chat-list-item .orange-fore {
    color: rgba(255, 152, 0, 0.87); }
  .chat-list-item .brown-fore {
    color: rgba(121, 85, 72, 0.87); }
  .chat-list-item .grey-fore {
    color: rgba(158, 158, 158, 0.87); }
  .chat-list-item .light-grey-fore {
    color: rgba(189, 189, 189, 0.87); }
  .chat-list-item .white-fore {
    color: rgba(255, 255, 255, 0.87); }
  .chat-list-item .black-fore {
    color: rgba(0, 0, 0, 0.87); }
  .chat-list-item .bold {
    font-weight: 500; }
  .chat-list-item .underline {
    text-decoration: underline; }
  .chat-list-item .italics {
    font-style: italic; }

.chat-header {
  -webkit-app-region: drag;
  height: 40px; }
  .chat-header .close-app {
    margin-left: auto;
    padding: 0 10px;
    align-self: center; }

body {
  font-family: Roboto, Helvetica, Arial; }

.display4 {
  font-weight: 300;
  font-size: 112px;
  color: rgba(255, 255, 255, 0.54); }
  .light-theme .display4 {
    color: rgba(0, 0, 0, 0.54); }

.display3 {
  font-weight: 400;
  font-size: 56px;
  color: rgba(255, 255, 255, 0.54); }
  .light-theme .display3 {
    color: rgba(0, 0, 0, 0.54); }

.display2 {
  font-weight: 400;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.54); }
  .light-theme .display2 {
    color: rgba(0, 0, 0, 0.54); }

.display1 {
  font-weight: 400;
  font-size: 34px;
  color: rgba(255, 255, 255, 0.54); }
  .light-theme .display1 {
    color: rgba(0, 0, 0, 0.54); }

.headline {
  font-weight: 400;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.87); }
  .light-theme .headline {
    color: rgba(0, 0, 0, 0.54); }

.title {
  font-weight: 500;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.87); }
  .light-theme .title {
    color: rgba(0, 0, 0, 0.54); }

.subheading {
  font-weight: 400;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.87); }
  .light-theme .subheading {
    color: rgba(0, 0, 0, 0.54); }

.body2 {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.87); }
  .light-theme .body2 {
    color: rgba(0, 0, 0, 0.54); }

.body1 {
  font-weight: 300;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.87); }
  .light-theme .body1 {
    color: rgba(0, 0, 0, 0.54); }
  .body1 a {
    font-weight: 500; }

.caption {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.54); }
  .light-theme .caption {
    color: rgba(0, 0, 0, 0.54); }

.button {
  font-weight: 200;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.87); }
  .light-theme .button {
    color: rgba(0, 0, 0, 0.54); }

.modal-background {
  background-color: rgba(0, 0, 0, 0.42);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  transition: opacity 0.1s ease-in-out;
  opacity: 1; }
  .modal-background.hidden {
    opacity: 0;
    z-index: -1;
    transition: z-index 0.1s step-end, opacity 0.1s ease-in-out; }

.modal {
  background-color: #424242;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.42), 0 15px 12px rgba(0, 0, 0, 0.56);
  margin: 0 auto;
  padding: 24px;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  .hidden .modal {
    transition: transform 0.1s ease-in;
    transform: scale3d(0.8, 0.8, 0.8); }

textarea {
  background: inherit;
  resize: none;
  color: inherit;
  font: inherit;
  border: inherit;
  outline: inherit; }

a {
  color: inherit;
  text-decoration: inherit;
  transition: all 0.2s ease-in-out; }
  a:hover {
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.42), 0 3px 6px rgba(0, 0, 0, 0.56); }

.no-overflow {
  overflow: hidden; }

.flex-vertical {
  display: flex;
  flex-direction: column; }

.flex-horizontal {
  display: flex;
  flex-direction: row; }

.flex-spacer {
  flex: 1; }

.app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white; }

.scroller {
  overflow-x: hidden; }

.scroller-wrap {
  position: relative;
  display: flex; }

.channels-list-item {
  display: flex;
  padding: 10px;
  cursor: pointer;
  flex-direction: row; }

.channel-time {
  margin-left: auto; }

::-webkit-scrollbar {
  width: 16px; }

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 8px;
  border: 4px solid #303030; }
