$red: rgba(#F44336, .87);
$pink: rgba(#E91E63, .87);
$purple: rgba(#9C27B0, .87);
$blue: rgba(#2196F3, .87);
$light-blue: rgba(#03A9F4, .87);
$cyan: rgba(#00BCD4, .87);
$teal: rgba(#009688, .87);
$green: rgba(#4CAF50, .87);
$light-green: rgba(#8BC34A, .87);
$yellow: rgba(#FFEB3B, .87);
$orange: rgba(#FF9800, .87);
$brown: rgba(#795548, .87);
$grey: rgba(#9E9E9E, .87);
$light-grey: rgba(#BDBDBD, .87);
$white: rgba(#FFFFFF, .87);
$black: rgba(#000000, .87);

$amber: rgba(#FFC107, .87);
