$red: #F44336;
$pink: #E91E63;
$purple: #9C27B0;
$blue: #2196F3;
$light-blue: #03A9F4;
$cyan: #00BCD4;
$teal: #009688;
$green: #4CAF50;
$light-green: #8BC34A;
$yellow: #FFEB3B;
$orange: #FF9800;
$brown: #795548;
$grey: #9E9E9E;
$light-grey: #BDBDBD;
$white: #FFFFFF;
$black: #000000;
