.modal-background {
  background-color: rgba(0,0,0,0.42);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  transition: opacity 0.1s ease-in-out;
  opacity: 1;

  &.hidden {
    opacity: 0;
    z-index: -1;
    transition: z-index 0.1s step-end, opacity 0.1s ease-in-out;
  }
}

.modal {
  background-color: #424242;
  box-shadow: 0 19px 38px rgba(0,0,0,0.42), 0 15px 12px rgba(0,0,0,0.56);
  margin: 0 auto;
  padding: 24px;
  transform: scale3d(1,1,1);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  .hidden & {
    transition: transform 0.1s ease-in;
    transform: scale3d(0.8,0.8,0.8);
  }
}
