@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  font-family: Roboto, Helvetica, Arial;
}

.display4 {
  font-weight: 300;
  font-size: 112px;
  opacity: .54;
}

.display3 {
  font-weight: 400;
  font-size: 56px;
  opacity: .54;
}

.display2 {
  font-weight: 400;
  font-size: 45px;
  opacity: .54;
}

.display1 {
  font-weight: 400;
  font-size: 34px;
  opacity: .54;
}

.headline {
  font-weight: 400;
  font-size: 24px;
  opacity: .87;
}

.title {
  font-weight: 500;
  font-size: 20px;
  opacity: .87;
}

.subheading {
  font-weight: 400;
  font-size: 15px;
  opacity: .87;
}

.body2 {
  font-weight: 500;
  font-size: 14px;
  opacity: .87;
}

.body1 {
  font-weight: 400;
  font-size: 14px;
  opacity: .87;
}

.caption {
  font-weight: 400;
  font-size: 12px;
  opacity: .54;
}

.button {
  font-weight: 200;
  font-size: 14px;
  opacity: .87;
}
