@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  font-family: Roboto, Helvetica, Arial;
}

.display4 {
  font-weight: 300;
  font-size: 112px;
  color: rgba(255,255,255,.54);
  .light-theme & {
    color: rgba(0,0,0,.54);
  }
}

.display3 {
  font-weight: 400;
  font-size: 56px;
  color: rgba(255,255,255,.54);
  .light-theme & {
    color: rgba(0,0,0,.54);
  }
}

.display2 {
  font-weight: 400;
  font-size: 45px;
  color: rgba(255,255,255,.54);
  .light-theme & {
    color: rgba(0,0,0,.54);
  }
}

.display1 {
  font-weight: 400;
  font-size: 34px;
  color: rgba(255,255,255,.54);
  .light-theme & {
    color: rgba(0,0,0,.54);
  }
}

.headline {
  font-weight: 400;
  font-size: 24px;
  color: rgba(255,255,255,.87);
  .light-theme & {
    color: rgba(0,0,0,.54);
  }
}

.title {
  font-weight: 500;
  font-size: 20px;
  color: rgba(255,255,255,.87);
  .light-theme & {
    color: rgba(0,0,0,.54);
  }
}

.subheading {
  font-weight: 400;
  font-size: 15px;
  color: rgba(255,255,255,.87);
  .light-theme & {
    color: rgba(0,0,0,.54);
  }
}

.body2 {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255,255,255,.87);
  .light-theme & {
    color: rgba(0,0,0,.54);
  }
}

.body1 {
  font-weight: 300;
  font-size: 14px;
  color: rgba(255,255,255,.87);
  .light-theme & {
    color: rgba(0,0,0,.54);
  }
  a {
    font-weight: 500;
  }
}

.caption {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255,255,255,.54);
  .light-theme & {
    color: rgba(0,0,0,.54);
  }

}

.button {
  font-weight: 200;
  font-size: 14px;
  color: rgba(255,255,255,.87);
  .light-theme & {
    color: rgba(0,0,0,.54);
  }
}
